*{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 5;
  background-color: transparent;
}

.container {
  margin-top: 50px;
}

h1 {
  font-size: 5vi;
  letter-spacing: -.15ch;
  line-height: .75;
  text-align: center;
  margin-bottom: 10px;
}
h2{
  text-align: center;
}
div.instructions h2{
  font-size: 2vi;
  text-align: center;
  border-left: blue;
}

h3 {
  font-size: 1.5vi;
  color: red; 
  text-align: justify;
}

h2.subtitle:hover{
  font-size: 30px;
}

/* video */

.group-video{
  border: 5px solid salmon;  
}

.row .content{
  background-color: chocolate;
}
div.video{
  margin-top: 20px;
  text-align: center;
}
div.names ol,h3{
  margin-left: 0px;    
}

div.instructions h2{
  background-color: azure;
  border-left-color: blue;
}

div.names{
  text-indent: 50px;  
  margin-left: 50px;
}

.title-group{  
  color: burlywood;
}
.a{
  background-color: blue;
}
.b{
  background-color: cornsilk;
}
.c{
  background-color: red;
}
